<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Quickdraw</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <p>Objects that can be recognized:</p>
    <ul>
        <li>Airplane</li>
        <li>Alarm clock</li>
        <li>Axe</li>
        <li>The Mona Lisa</li>
    </ul>

    <div style="text-align: center;">
        <canvas id="paintArea" style="border: 1px solid black;" width="400" height="400"></canvas>
        <button type="button" id="submitDrawing">Submit drawing</button>
        <button type="button" id="clearCanvas">Clear canvas</button>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>
</html>